@mixin divd{
    max-width: 1200px;
    margin: auto;
}



*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header{
    max-width: 1400px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.item{
    display: flex;
    gap: 20px;
}
.header button{
    padding: 10px 30px;
    height: 50px;
    background: linear-gradient(#3DB846,#2A7C3057);
    border: none;
    border-radius: 20px;
    color: white;
}
.item1{
    display: none;
    gap: 20px;
}
.item2{
    display: flex;
}
.herodiv{
    max-width: 1400px;
    height: 751px;
    margin: auto;
    background-image: url(./Слой\ 2\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.under{
    width: 40%;
    height: 230px;
    position: relative;
    top: 20%;
    left: 10%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.under h1{
    font-size: 40px;
}
.under p{
    font-size: 25px;
}
.under1{
    width: 80%;
    height: 50px;
    position: relative;
    top: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.under1 div{
    width: 32%;
    height: 100%;
    display: flex;
    gap: 20px;
}
.under1 div img{
    width: 13px;
    height: 13px;
}
.under1 div p{
    font-size: 20px;
    color: #FFFFFF;
}
.herostart{
    max-width: 1200px;
    height: 700px;
    margin: auto;
    display: flex;
    align-items: center;
}
.items{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #747474;
}
.items1{
    width: 50%;
    height: 100%;
    background-image: url(./Image-01.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.items h1{
    font-size: 40px;
    font-weight: 200;
}
.items p{
    width: 500px;
    font-size: 25px;
}
.h1h{
    display: none;
}
.heroimage{
    height: 800px;
    @include divd()
}
.h2h{
    font-size: 40px;
    font-weight: 200;
    text-align: center;
}
.unders{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.itemss{
    width: 45%;
    height: 100%;
}
.itemss1{
    width: 50%;
    height: 55%;
    position: relative;
    top: 2%;
    border-radius: 10px;
    background-image: url(./Image-03-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.itemss2{
    width: 48%;
    height: 50%;
    position: relative;
    left: 52%;
    bottom: 55%;
    border-radius: 10px;
    background-image: url(./Image-03-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.itemss3{
    width: 48%;
    height: 45%;
    position: relative;
    bottom: 50%;
    left: 52%;
    border-radius: 10px;
    background-image: url(./Image-03-4.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.items4{
    width: 48%;
    height: 45%;
    position: relative;
    bottom: 90%;
    border-radius: 10px;
    background-image: url(./Image-03-3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.items5{
    width: 35%;
    height: 35%;
    background-color: white;
    background-image: url(./Logo\ \(15\).png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    bottom: 160%;
    left: 30%;
}
.unders1{
    width: 50%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
}
.itemss12{
    width: 50%;
    height: 33%;
    display: flex;
}
.underitem{
    width: 22%;
    height: 100%;
}
.items121{
    width: 77%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.h2hh{
    font-size: 20px;
    font-weight: 200;
}
.items121 p{
    font-size: 13px;
}
.central{
    height: 600px;
   @include divd()
}
.underr{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.underr button{
    padding: 15px 27px;
    font-size: 15px;
    border-radius: 25px;
    height: 55%;
    background: linear-gradient(#437D2B);
    border: none;
    color: white;
}
.underr1{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
}
.itemm{
    width: 24%;
    height: 100%;
    border-radius: 25px;
    background-image: url(./__page-0037\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.itemm1{
    width: 48%;
    height: 100%;
    border-radius: 25px;
    background-image: url(./Image-04-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.itemm2{
    width: 24%;
    height: 100%;
    border-radius: 25px;
    background-image: url(./Image-04-3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.itemms1{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.itemms1 p{
    font-size: 20px;
    color: #5E4520;
}
.central1{
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-image: url(./Видео.png);
    background-repeat: no-repeat;
    background-size: cover;
    @include divd()
}
.btn1{
    margin-top: 20px;
    display: none;
}
.heroendcenter{
    height: 1500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include divd()
}
.undeeritem{
    width: 60%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid gray;
}
.itemmm{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.undeer{
    width: 100%;
    height: 640px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itemmsm{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itemmsm div{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.itemmsm div p{
    color: #464646;
}
.itemmsm button{
    padding: 15px 50px;
    font-size: 20px;
    background-color: #437D2B;
    border: none;
    color: white;
    border-radius: 15px;
}
.itemmsm1{
    width: 100%;
    height: 40%;
}
.itemmsm1 div{
    width: 100%;
    height: 25%;
    display: flex;
    gap: 20px;
    align-items: center;
}
.imagehint{
    width: 14px;
    height: 14px;
}
.itemmsm2{
    width: 100%;
    height: 35%;
    background-color: #FFFAF2;
    border-radius: 15px;
}
.underrr{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
}
.underrr div{
    width: 46px;
    height: 46px;
    background-color: white;
    border-radius: 50%;
}
.underrr h1{
    font-size: 25px;
}
.paragraf{
    width: 100%;
    height: 10%;
    display: flex;
    gap: 20px;
}
.hr1{
    width: 90%;
    height: 2px;
    background-color: #464646;
    margin-top: 40px;
}
.imagehero{
    width: 35%;
    height: 80%;
    background-color: #437D2B;
    border-radius: 20px;
    background-image: url(./portrait-couple-sitting-wooden-bench\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.imagehero1{
    width: 35%;
    height: 80%;
    background-color: #437D2B;
    border-radius: 20px;
    background-image: url(./Image-05-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.top{
    display: none;
     padding: 15px 50px;
    font-size: 20px;
    background-color: #437D2B;
    border: none;
    color: white;
    border-radius: 15px;
}
.heroendof{
    height: 850px;
    margin-top: 200px;
    @include divd()
}
.under3{
    width: 100%;
    height: 20%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: end;
}
.imageunder{
    width: 80%;
    height: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.imagerandom{
    width: 100%;
    height: 5%;

    display: flex;
    justify-content: center;
}
.itemunder{
    width: 32%;
    height: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20%;
}
.ietmunder1{
    width: 32%;
    height: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.imageprofile{
    width: 100%;
    height: 65%;
    border-radius: 50%;
    background-image: url(./Image-06-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.ietmunder1 div{
    width: 100%;
    height: 65%;
    border-radius: 50%;
    background-image: url(./Image-06-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.imageprofile1{
    width: 100%;
    height: 65%;
    border-radius: 50%;
    background-image: url(./Image-06-3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.end{
    max-width: 1200px;
    height: 600px;
    margin-top: 100px;
    margin: auto;
    background-image: url(./Map.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.uunder{
    width: 55%;
    height: 90%;
    position: relative;
    left: 5%;
    top: 5%;
    background-color: white;
}
.uunder1{
    width: 100%;
    height: 25%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
}
.uunder2{
    width: 100%;
    height: 74%;
    display: flex;
}
.uunders1{
    width: 60%;
    height: 100%;
    font-size: 25px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.inp1{
    width: 80%;
    padding: 16px;
    border-radius: 20px;
    background: linear-gradient(#AAAAAA,#FFFFFF00);
}
.btn2{
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    background-color: #437D2B;
    border: none;
    color: white;
}
.uunders2{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.uunder2 h1{
    font-weight: 200;
    text-align: center;
}
.div1 {
    display: flex;
    gap: 15px;
}
.div1 h4{
    font-weight: 200;
}
.div1 h2{
    font-weight: 200;
}
@media(max-width: 510px){
.item{
    display: none;
   
}
.herodiv button{
 display: none;
}
.item1{
    display: flex;
}
.item2{
    display: none;
}
.imageprojact{
    width: 168px;
    height: 31px;
}
.header{
    padding: 20px;
}
.item1{
    display: block;
}
.under h1{
    font-size: 30px;
}
.under h1 span{
    font-size: 25px;
}
.under{
    width: 90%;
    height: 20%;
}
.under1{
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 75%;
}
.herodiv{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
}
.under1 div{
    width: 100%;
    height: 30%;
}
.herostart{
    display: flex;
    flex-direction: column-reverse;
    width: 99%;
}
.items{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.items h1{
    display: none;
}
.items1{
    width: 100%;
}
.h1h{
    display: block;
}
.h2h{
    width: 100%;
   text-align: start;
}
.unders{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.itemss{
    width: 100%;
    height: 47%;
}
.heroimage{
    height: 2500px;
}
.unders{
    width: 100%;
    height: 50%;
}
.unders1{
    width: 100%;
    height: 47%;
}
.itemss12{
    width: 100%;
    height: 51%;
}
.underr button{
    display: none;
}
.underr h1{
    width: 330px;
}
.itemm{
    display: none;
}
.itemm2{
    display: none;
}
.central{
    height: 700px;
}
.itemm1{
    width: 100%;
}
.central1{
    height: 285px;
    width: 90%;
    margin: auto;
    border-radius: 20px;
}
.btn1{
    display: block;
    margin-top: 10px;
    margin: auto;
    width: 90%;
    padding: 20px 30px;
    border-radius: 17px;
    background-color: #437D2B;
    font-size: 30px;
    border: none;
    color: white;
}
.heroendcenter{
    margin-top: 100px;
    width: 100%;
    height: 2500px;
    display: flex;
    flex-direction: column;
}
.itemmm{
    width: 475px;
}
.undeer{
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
}
.itemmsm button{
    display: none;
}
.underitem{
    width: 100%;
    height: 45%;
}
.itemmsm{
    width: 100%;
}
.itemmsm1{
    width: 100%;
}
.itemmsm2{
    width: 100%;
}
.underrr{
    width: 100%;
}
.top{
    display: block;
}
.itemunder{
    display: none;
}
.ietmunder1{
    width: 100%;
    height: 100%;
}
.under3{
    display: flex;
    justify-content: start;
}
.h6h{
    text-align: start;
    width: 400px;
}
.end{
    height: 1800px;
    width: 93%;
    margin: auto;
    display: flex;
    align-items: start;
}
.uunder{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.uunder2{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.uunders1{
    width: 100%;
}
.uunders2{
    width: 100%;
}
}