@mixin divd{
    max-width: 1200px;
    margin: auto;
}



*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header{
    max-width: 1400px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.item{
    display: flex;
    gap: 20px;
}
.header button{
    padding: 10px 30px;
    height: 50px;
    background: linear-gradient(#3DB846,#2A7C3057);
    border: none;
    border-radius: 20px;
    color: white;
}
.item1{
    display: none;
    gap: 20px;
}
.item2{
    display: flex;
}
.herodiv{
    max-width: 1400px;
    height: 751px;
    margin: auto;
    background-image: url(./Слой\ 2\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.under{
    width: 40%;
    height: 230px;
    position: relative;
    top: 20%;
    left: 10%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.under h1{
    font-size: 40px;
}
.under p{
    font-size: 25px;
}
.under1{
    width: 80%;
    height: 50px;
    position: relative;
    top: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.under1 div{
    width: 32%;
    height: 100%;
    display: flex;
    gap: 20px;
}
.under1 div img{
    width: 13px;
    height: 13px;
}
.under1 div p{
    font-size: 20px;
    color: #FFFFFF;
}
.herostart{
    max-width: 1200px;
    height: 700px;
    margin: auto;
    display: flex;
    align-items: center;
}
.items{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #747474;
}
.items1{
    width: 50%;
    height: 100%;
    background-image: url(./Image-01.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.items h1{
    font-size: 40px;
    font-weight: 200;
}
.items p{
    width: 500px;
    font-size: 25px;
}
.h1h{
    display: none;
}
.heroimage{
    height: 800px;
    @include divd()
}
.h2h{
    font-size: 40px;
    font-weight: 200;
    text-align: center;
}
.unders{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.itemss{
    width: 45%;
    height: 100%;
}
.itemss1{
    width: 50%;
    height: 55%;
    position: relative;
    top: 2%;
    border-radius: 10px;
    background-image: url(./Image-03-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.itemss2{
    width: 48%;
    height: 50%;
    position: relative;
    left: 52%;
    bottom: 55%;
    border-radius: 10px;
    background-image: url(./Image-03-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.itemss3{
    width: 48%;
    height: 45%;
    position: relative;
    bottom: 50%;
    left: 52%;
    border-radius: 10px;
    background-image: url(./Image-03-4.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.items4{
    width: 48%;
    height: 45%;
    position: relative;
    bottom: 90%;
    border-radius: 10px;
    background-image: url(./Image-03-3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.items5{
    width: 35%;
    height: 35%;
    background-color: white;
    background-image: url(./Logo\ \(15\).png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    bottom: 160%;
    left: 30%;
}
.unders1{
    width: 50%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
}
.itemss12{
    width: 50%;
    height: 33%;
    display: flex;
}
.underitem{
    width: 22%;
    height: 100%;
}
.items121{
    width: 77%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.h2hh{
    font-size: 20px;
    font-weight: 200;
    width: ;
}
.items121 p{
    font-size: 13px;
}
@media(max-width: 510px){
.item{
    display: none;
}
.herodiv button{
 display: none;
}
.item1{
    display: flex;
}
.item2{
    display: none;
}
.imageprojact{
    width: 168px;
    height: 31px;
}
.header{
    padding: 20px;
}
.item1{
    display: block;
}
.under h1{
    font-size: 30px;
}
.under h1 span{
    font-size: 25px;
}
.under{
    width: 90%;
    height: 20%;
}
.under1{
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 75%;
}
.herodiv{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
}
.under1 div{
    width: 100%;
    height: 30%;
}
.herostart{
    display: flex;
    flex-direction: column-reverse;
    width: 99%;
}
.items{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.items h1{
    display: none;
}
.items1{
    width: 100%;
}
.h1h{
    display: block;
}
.h2h{
    width: 100%;
   text-align: start;
}
.unders{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.itemss{
    width: 100%;
    height: 47%;
}
.heroimage{
    height: 2500px;
}
.unders{
    width: 100%;
    height: 50%;
}
.unders1{
    width: 100%;
    height: 47%;
}
.itemss12{
    width: 100%;
    height: 51%;
}
}